<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <footer class="blockquote-footer">
        Someone<cite title="Source Title">Recommended for you</cite>
      </footer>
    </blockquote>
    <br />
    <div class="row gap-0">
      <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
        <div class="card">
          <div class="d-flex justify-content-between">
            <img src="..." class="card-img-top" alt="..." />
            <div class=" mt-1 mx-2">
             <i class="fa-solid fa-circle-xmark fa-xl" style="color: #64ce97"></i>
            </div>
          </div>
          <div class="card-body text-center">
            <h5 class="card-title fw-bold">User name</h5>
            <p class="card-text text-muted fw-bold">hastag</p>
            <a
              href="#"
              class="mt-0 mb-0 btn btn-outline-secondary btn-sm fw-bold fs-6 rounded-pill"
              >+ connect</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
