<div class="card">
  <ul class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex position-relative">
        <img src="..." class="flex-shrink-0 me-3" alt="profile" />
        <input
          type="text"
          class="form-control mb-4 px-3 p-2 rounded-pill bg-light"
          placeholder="start a post"
        />
      </div>
      <div class="d-flex position-relative">
        <button class="mx-4 btn btn-outline-secondary btn-sm fw-bold rounded-pill ">
            <i class="fa-solid fa-fade fa-image fa-lg" style="color: #64ce97"></i>
          &nbsp;Photo
        </button>
        <button class="mx-4 btn btn-outline-secondary btn-sm fw-bold  rounded-pill">
          <i class="fa-solid fa-fade fa-video fa-lg" style="color: #64ce97"></i>
          &nbsp;Video
        </button>
        <button class="mx-4 btn btn-outline-secondary btn-sm fw-bold rounded-pill">
          <i class="fa-solid fa-fade fa-briefcase fa-lg" style="color: #64ce97"></i> 
          &nbsp;Job
        </button>
        <button class="mx-4 btn btn-outline-secondary btn-sm fw-bold rounded-pill">
          <i class="fa-solid fa-fade fa-newspaper fa-lg" style="color: #64ce97"></i>
          &nbsp;Write artical
        </button>
      </div>
    </div>
  </ul>
</div>
