<div class="card mb-3">
  <ul class="list-group list-group-flush">
    <div class="list-group-item">
      <div class="d-flex position-relative">
        <img src="..." class="flex-shrink-0 me-3" alt="profile" />
        <input
          type="text"
          class="form-control mb-4 px-3 p-2 rounded-pill bg-light"
          placeholder="start a post"
        />
      </div>
      <div class="row gap-0">
        <div class="col-3 col-sm-3 text-center">
          <button class="btn btn-outline-secondary btn-sm fw-bold rounded-pill">
            <i
              class="fa-solid fa-fade fa-image fa-lg"
              style="color: #64ce97"
            ></i>
            &nbsp;Photo
          </button>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <button class="btn btn-outline-secondary btn-sm fw-bold rounded-pill">
            <i
              class="fa-solid fa-fade fa-video fa-lg"
              style="color: #64ce97"
            ></i>
            &nbsp;Video
          </button>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <button class="btn btn-outline-secondary btn-sm fw-bold rounded-pill">
            <i
              class="fa-solid fa-fade fa-briefcase fa-lg d-sm-none"
              style="color: #64ce97"
            ></i>
            &nbsp;Job
          </button>
        </div>
        <div class="col-3 col-sm-3 text-center">
          <button class="btn btn-outline-secondary btn-sm fw-bold rounded-pill">
            <i
              class="fa-solid fa-fade fa-newspaper fa-lg"
              style="color: #64ce97"
            ></i>
            &nbsp;Write artical
          </button>
        </div>
      </div>
    </div>
  </ul>
</div>
<!-- <div class="row mb-2 gap-0">
  <div class="col-lg-9 col-md-8 d-md-none d-sm-none">
    <hr/>
  </div>
  <div class="col-lg-2 col-md-4 d-md-none d-sm-none">
    <small> sort by : <strong>top</strong> </small>
  </div>
</div> -->
<style>
  i {
    font-size: 40px;
  }
</style>
