<div class="card">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Manage my network</p>
      <!-- <footer class="blockquote-footer">
        Someone famous in <cite title="Source Title">Source Title</cite>
      </footer> -->
    </blockquote>
    <a href="#" class="nav-link dropdown-item"
      >Connectins &nbsp;  12
    </a>
    <a href="#" class="nav-link dropdown-item"
      >Contect &nbsp; 02
    </a>
    <a href="#" class="nav-link dropdown-item"
      >Following & Followers &nbsp; 2001
    </a>
  </div>
</div>
