<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex justify-content-between mt-1 mb-2">
        <h5 class="fw-bold fs-6">Add to your feed</h5>
        <div>
         <i class="fa-solid fa-fade fa-circle-info fa-lg" style="color: #64ce97"></i>
        </div>
      </div>
      <div class="d-flex position-relative">
        <img src="..." class="flex-shrink-0 me-3" alt="profile" />
        <div>
          <h5 class="mt-0 mb-0">User name</h5>
          <p class="m-1 text-muted">Hash tags</p>
          <a
            href="# "
            class="mt-0 mb-0 btn btn-outline-secondary btn-sm fw-bold fs-6 rounded-pill"
          >
            + Follow</a
          >
        </div>
      </div>
      <a href="#" class="nav-link text-muted"> View all.. </a>
    </li>
  </ul>
</div>
