<div class="card" style="width: 18rem">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="d-flex position-relative">
        <img src="..." class="flex-shrink-0 me-3" alt="profile" />
        <div>
          <h5 class="mt-0 mb-0">User name</h5>
          <p class="m-1 text-muted">
            Hash tags
          </p>
          <a href="# " class="mt-0 mb-0 btn btn-outline-secondary btn-sm fw-bold fs-6 rounded-pill"> + Follow</a>
        </div>
      </div>
    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
</div>
