{% load static %}
<div class="card">
  <div class="card-body">
    <div class="d-flex position-relative">
      <img src="..." class="flex-shrink-0 me-3" alt="img" />
      <div>
        <h5 class="mt-0 mb-0">Creater name</h5>
        <p class="mt-0 mb-0 text-muted">Hash tags</p>
        <p class="card-text mb-4">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
    <div class="row">
      <h6 class="card-subtitle col-10 mb-2">Post title</h6>
      <div class="col-2">
        <a
          class="text-muted text-decoration-none"
          data-bs-toggle="collapse"
          href="#multiCollapseExample1"
          role="text"
          aria-expanded="false"
          aria-controls="multiCollapseExample1"
          >Read more</a
        >
      </div>
      <div class="col-12">
        <div class="collapse multi-collapse" id="multiCollapseExample1">
          Some placeholder content for the first collapse component of this
          multi-collapse example. This panel is hidden by default but revealed
          when the user activates the relevant trigger.
        </div>
      </div>
    </div>
    <div class="card mt-2 mb-3">
      <img src="..." class="img-fluid" alt="Post" />
      <video src="" alt="video"></video>
    </div>
    <hr />
    <div class="m-0 p-0">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>