<div class="card mx-auto">
  <img src="..." class="card-img-top" alt="profile" />
  <div class="card-body text-center">
    <h5 class="card-title">Card title</h5>
    <p class="card-text text-muted">
     Hash tags
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item fw-bold text-muted">
      <i class="fa-sharp fa-solid fa-screwdriver-wrench fa-fade fa-lg" style="color: #64ce97"></i>
      Tools</li>
    <li class="list-group-item fw-bold text-muted">
      <i class="fa-solid fa-square fa-fade fa-lg" style="color: #64ce97"></i>
      Premium free</li>
    <li class="list-group-item fw-bold text-muted">
      <i class="fa-solid fa-bookmark fa-fade fa-lg" style="color: #64ce97"></i>
      My item</li>
  </ul>
  <!-- <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div> -->
</div>
